.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#my-signin2 {
  margin-top: 10%;
  margin-left: 15%;
}

.back-line {
  margin-top: 10%;
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  opacity: 0.5;
}

.thumbnail{
  height:250px;
  width:100%;
}

