.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
body {
    background-image: url("../../browser/Images/black-vinyl-fabric_370x280.jpg");
/*    background: grey;
*/}