.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.home {
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
}

.title {
	color: yellow;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
}

.smallTitle {
	margin-left: 35%;
	margin-bottom: 10%;
	color: red;
}

.mainImage {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%
}

.productList {
	background-image: url('../images/black-vinyl.jpg')
}

.product {
	margin-top: 2%;
}

.detail {
/*	background-color: gray;
*/}
